.root {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr)) auto 450px;
  grid-template-rows: repeat(3, 100px);
  grid-gap: 1em;
  text-align: center;
  background-color: blue;
  padding: 1rem;
}

.root > * {
  background: #ccc;
  padding: 1em;
}

.root header,
footer {
  grid-column: 1/-1;
}

.root header {
  grid-row: 1;
}

/*.sidebar-left {
}

.root article {

}

.sidebar-right {
}*/

.root footer {
  grid-row: 3;
}
