@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');

body,
html {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  column-gap: 1px;
  row-gap: 1px;
  background-color: black;

  @media (min-width: 500px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.letter {
  background-color: #0069b3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 70px;
  color: white;
  line-height: 1;
  font-family: 'rubik gemstones', Helvetica;
  font-weight: 200;
  cursor: pointer;
  transition: all 0.3s ease;
}
