@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.root {
  --green: hsl(75, 94%, 57%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  --bp-mobile: 375px;
  --bp-desktop: 1440px;

  --font-p: 0.875rem;

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background: black;
  font-family: inter;
}

.attribution {
  color: white;
  margin-top: auto;
  margin-bottom: 1rem;
  a {
    color: white;
  }
}

.root article {
  width: min(var(--bp-mobile), 95%);
  margin-top: auto;
  background: var(--grey-800);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.root img {
  
  height: min(64px, 100%);
  border-radius: 99px;
}

.profile {
  h1 {
    font-size: 1.5rem;
  }
  p {
    color: var(--green);
    font-size: var(--font-p);
    font-weight: 600;
  }
}

.about {
  font-size: var(--font-p);
}


.root ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  width: 100%;
  
  a {
    text-decoration: none;
    color: white;
  }

  li {
    background: var(--grey-700);
    padding: 1rem;
    border-radius: 10px;
    font-size: var(--font-p);
    font-weight: 700;
    cursor: pointer;
    &:hover {
      background-color: var(--green);
    }
    &:hover a {
      color: black;
    }
  }
}
