*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, .app {
  background-color: black;
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
