@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.root {
  --yellow: #F4D04E;
  --gray-950: #111111;
  --gray-500: #6B6B6B;
  --white: #ffffff;

  --space-300: 1.5rem;
  --space-150: 0.75rem;
  --space-100: 0.5rem;
  --space-50: 0.25rem;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-h: 1.25rem;
  --font-lg: 1.5rem;

  --radius-lg: 20px;
  --radius-sm: 4px;
  --line-md: 150%;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: figtree;
  background: var(--yellow);
}

.root article {
  width: min(327px, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-300);
  padding: var(--space-300);
  border-radius: var(--radius-lg);
  background: var(--white);
  color: var(--gray-950);
  box-shadow: 8px 8px black;
  border: 1px solid black;
}

.cardArt {
  width: min(279px, 100%);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-150);
  line-height: var(--line-md);

  .badge {
    border-radius: var(--radius-sm);
    font-size: clamp(var(--font-xs), 2vw, var(--font-sm));
    font-weight: 800;
    background: var(--yellow);
    padding: var(--space-50) var(--space-150);
    width: fit-content;
  }
  .publishDate {
    font-weight: 500;
    font-size: clamp(var(--font-xs), 2vw, var(--font-sm));
  }
  h1 {
    font-size: var(--font-h);
    font-weight: 800;
  }
  .description {
    color: var(--gray-500);
    font-weight: 500;
    font-size: var(--font-sm);
  }
}

.author {
  line-height: var(--line-md);
  img {
    width: min(32px, 100%);
  }
  font-weight: 800;
  display: flex;
  gap: var(--space-150);
  align-self:flex-start;
  align-items: center;
  font-size: var(--font-sm);
}
